@import "tailwindcss";
@import "flowbite";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  select {
    @apply block w-full px-3 py-2.5 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg
           shadow-sm focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400;
  }

  label {
    @apply block mb-2.5 text-sm font-medium text-gray-900;
  }

  /* Button global style */
  button {
    @apply text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 
           shadow-xs font-medium rounded-lg text-sm px-4 py-2.5 focus:outline-none;
  }

  /* Primary button */
  .btn-primary {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 
           font-medium rounded-lg text-sm px-4 py-2.5 shadow-xs focus:outline-none;
  }

  /* Disabled button */
  .btn-disabled {
    @apply text-white bg-blue-400 cursor-not-allowed opacity-70 font-medium rounded-lg 
           text-sm px-4 py-2.5 shadow-xs focus:outline-none;
  }

    input[type="checkbox"] {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
  }
   a {
    @apply text-blue-500 hover:text-blue-900 hover:underline dark:text-gray-400 dark:hover:text-gray-900;
  }

}
